/* General Styles */
/* In your custom CSS file */
.navbar-lightblue {
    background-color: lightblue;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Hero Section */
#home {
    padding-bottom: 0;
}

#about {
    margin-top: -30px;
}

/* Hero Image Styling */
.hero-image {
    max-width: 600px; /* Set the maximum width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image */
}


/* Footer Styles */
/* Footer styles */
.footer {
    background-color: lightblue;
    color: black;
    padding: 40px 0;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-link {
    color:black;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.footer-link:hover {
    color: black;
    text-decoration: underline;
}


.footer-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}


.footer-input {
    padding: 8px;
    width: 75%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.footer-btn {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-btn:hover {
    background-color: #0056b3;
}
/* Portfolio Section Styling */
#portfolio .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#portfolio .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#portfolio .card-img-top {
    height: 200px;  /* Adjust height of project images */
    object-fit: cover;  /* Ensures the image covers the area */
}

